.dayEvent{
  font-size: 100px;
  background-color: blueviolet;
}
table
{
  background-color: #d3d3d3;
   padding: 10px;
    width: 700px;
     text-align:left
}

.heure{
  padding-left: 280px;
}
